In [71]:
import pandas as pd
import numpy as np
import talib as ta
import tushare as ts
import stockstats
from datetime import datetime
from pandas import to_datetime

In [2]:
pro = ts.pro_api('8a0dfe0be4156e765478171525fa9ce3d07fb28689f42df5cd7b85a4')
df = pro.daily(ts_code='000001.SZ', start_date='20100101', end_date='20220101')

In [3]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20211231,16.86,16.90,16.40,16.48,16.82,-0.34,-2.0214,1750760.89,2.899617e+06
1,000001.SZ,20211230,16.76,16.95,16.72,16.82,16.75,0.07,0.4179,796663.60,1.342374e+06
2,000001.SZ,20211229,17.16,17.16,16.70,16.75,17.17,-0.42,-2.4461,1469373.98,2.480535e+06
3,000001.SZ,20211228,17.22,17.33,17.09,17.17,17.22,-0.05,-0.2904,1126638.91,1.934461e+06
4,000001.SZ,20211227,17.33,17.35,17.16,17.22,17.31,-0.09,-0.5199,731118.99,1.260455e+06
...,...,...,...,...,...,...,...,...,...,...,...
2842,000001.SZ,20100108,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05
2843,000001.SZ,20100107,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05
2844,000001.SZ,20100106,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05
2845,000001.SZ,20100105,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06
2846,000001.SZ,20100104,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05

In [73]:
time01=to_datetime(df.trade_date,format="%Y%m%d")
df.trade_date=time01

In [75]:
df=df.sort_values(by='trade_date')

In [77]:
stockStat = stockstats.StockDataFrame.retype(df)
stockStat['volume']=stockStat['vol']

In [78]:
stockStat

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,volume,cr,cr-ma1,cr-ma2,cr-ma3
2846,000001.SZ,2010-01-04,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05,241922.76,137.360939,103.879975,87.220591,84.599263
2845,000001.SZ,2010-01-05,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06,556499.82,118.026125,98.226343,84.394869,85.212956
2844,000001.SZ,2010-01-06,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05,412143.13,112.008161,91.719395,81.740211,85.468771
2843,000001.SZ,2010-01-07,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05,355336.85,104.222159,84.491119,81.651082,85.235716
2842,000001.SZ,2010-01-08,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05,288543.06,104.554569,79.851095,82.812159,84.949838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,000001.SZ,2021-12-27,17.33,17.35,17.16,17.22,17.31,-0.09,-0.5199,731118.99,1.260455e+06,731118.99,446.296296,250.862069,158.620690,158.620690
3,000001.SZ,2021-12-28,17.22,17.33,17.09,17.17,17.22,-0.05,-0.2904,1126638.91,1.934461e+06,1126638.91,449.484536,158.620690,158.620690,158.620690
2,000001.SZ,2021-12-29,17.16,17.16,16.70,16.75,17.17,-0.42,-2.4461,1469373.98,2.480535e+06,1469373.98,307.216495,158.620690,158.620690,158.620690
1,000001.SZ,2021-12-30,16.76,16.95,16.72,16.82,16.75,0.07,0.4179,796663.60,1.342374e+06,796663.60,343.103448,158.620690,158.620690,158.620690
0,000001.SZ,2021-12-31,16.86,16.90,16.40,16.48,16.82,-0.34,-2.0214,1750760.89,2.899617e+06,1750760.89,158.620690,158.620690,158.620690,158.620690

In [79]:
open=df['open']
close=df['close']
high=df['high']
low=df['low']
volume=df['vol']
amount=df['amount']

In [80]:
df_tech=pd.DataFrame()
df_tech['datetime']=df['trade_date']
df_tech['open']=open
df_tech['close']=close
df_tech['high']=high
df_tech['low']=low
df_tech['volume']=volume
df_tech['amount']=amount

### 1.能量型

In [81]:
def arbr(high,low,open,close):
    HO=high-open
    OL=open-low
    HCY=high-close.shift(1)
    CYL=close.shift(1)-low
    #计算AR、BR指标
    AR=ta.SUM(HO, timeperiod=26)/ta.SUM(OL, timeperiod=26)*100
    BR=ta.SUM(HCY, timeperiod=26)/ta.SUM(CYL, timeperiod=26)*100

    return AR,BR

In [82]:
AR,BR=arbr(high,low,open,close)

In [83]:
df_tech['AR']=AR
df_tech['BR']=BR

In [84]:
CR=stockStat[['cr','cr-ma1','cr-ma2','cr-ma3']]

In [85]:
df_tech=pd.concat([df_tech, CR], axis=1)

In [86]:
VR=stockStat[['vr','vr_6_sma'] ]
df_tech=pd.concat([df_tech, VR], axis=1)

In [87]:
def PSY(priceData, period):
    difference = priceData[1:] - priceData[:-1]
    difference = np.append(0, difference)
    difference_dir = np.where(difference > 0, 1, 0)
    psy = np.zeros((len(priceData),))
    psy[:period] *= np.nan
    for i in range(period, len(priceData)):
        psy[i] = (difference_dir[i-period+1:i+1].sum()) / period
    return psy*100

In [88]:
PSY=PSY(close, 12)
PSYMA=ta.MA(PSY, timeperiod=6)

In [89]:
len(PSY)

2847

In [90]:
df_tech['PSY']=PSY
df_tech['PSYMA']=PSYMA

### 2.超买超卖型

In [91]:
CCI = ta.CCI(high, low, close, timeperiod=14)

In [92]:
df_tech['CCI']=CCI

In [93]:
MFI=ta.MFI(high, low, close, volume, timeperiod=14)

In [94]:
df_tech['MFI']=MFI

In [95]:
ROC=ta.ROC(close, timeperiod=10)

In [96]:
df_tech['ROC']=ROC

In [97]:
KDJ=stockStat[['kdjk','kdjd','kdjj']]
df_tech=pd.concat([df_tech, KDJ], axis=1)

In [98]:
WR=stockStat[['wr_10','wr_6'] ]
df_tech=pd.concat([df_tech, WR], axis=1)

In [99]:
RSI=stockStat[['rsi_6','rsi_12'] ]
df_tech=pd.concat([df_tech, RSI], axis=1)

In [100]:
def RVI(close,open,high,low):
    X = close-open+2*(close.shift()-open.shift())+2*(close.shift(periods=2)-open.shift(periods=2))*(close.shift(periods=3)-open.shift(periods=3))/6
    Y = high-low+2*(high.shift()-low.shift())+2*(high.shift(periods=2)-low.shift(periods=2))*(high.shift(periods=3)-low.shift(periods=3))/6
    Z = ta.MA(X, timeperiod=10)*10
    D = ta.MA(Y, timeperiod=10)*10
    return Z/D

In [101]:
RVI=RVI(close,open,high,low)

In [102]:
df_tech['RVI']=RVI

In [103]:
TR=stockStat[['tr','atr'] ]
df_tech=pd.concat([df_tech, TR], axis=1)

In [104]:
def BIAS(close, timeperiod):
    if isinstance(close,np.ndarray):
        pass
    else:
        close = np.array(close)
    MA = ta.MA(close,timeperiod=timeperiod)
    return (close-MA)/MA

In [105]:
BIAS6=BIAS(close,6)
BIAS12=BIAS(close,12)
BIAS24=BIAS(close,24)

In [106]:
df_tech['BIAS6']=BIAS6
df_tech['BIAS12']=BIAS12
df_tech['BIAS24']=BIAS24

### 3.趋势型

In [107]:
MACD_dif, MACD_dea, MACD_hist =ta.MACD(close, fastperiod=12, slowperiod=26, signalperiod=9)

In [108]:
df_tech['MACD_dif']=MACD_dif
df_tech['MACD_dea']=MACD_dea
df_tech['MACD_hist']=MACD_hist

In [109]:
TRIX=stockStat[['trix','trix_9_sma'] ]
df_tech=pd.concat([df_tech, TRIX], axis=1)

In [110]:
DMI=stockStat[['pdi','mdi','dx','adx','adxr'] ]
df_tech=pd.concat([df_tech, DMI], axis=1)

In [111]:
DMA=stockStat[['dma'] ]
df_tech=pd.concat([df_tech, DMA], axis=1)

In [112]:
AMA=ta.MA(df_tech['dma'],timeperiod=10)
df_tech['AMA']=AMA

In [113]:
def DPO(close,timeperiod):
    p = ta.MA(close, timeperiod=timeperiod)
    p.shift()
    return close-p

In [114]:
DPO=DPO(close,timeperiod=20)
MADPO=ta.MA(DPO, timeperiod=6)

In [115]:
df_tech['DPO']=DPO
df_tech['MADPO']=MADPO

In [116]:
def VHF(close):
    LCP = ta.MIN(close, timeperiod=28)
    HCP = ta.MAX(close, timeperiod=28)
    NUM = HCP - LCP
    pre = close.copy()
    pre = pre.shift()
    DEN = abs(close-close.shift())
    DEN = ta.MA(DEN, timeperiod=28)*28
    return NUM.div(DEN)

In [117]:
VHF=VHF(close)
df_tech['VHF']=VHF

In [118]:
MTM = ta.MOM(close, timeperiod=6)
MTMMA=ta.MA(MTM,timeperiod=12)

In [119]:
df_tech['MTM']=MTM
df_tech['MTMMA']=MTMMA

### 4.成交量型

In [120]:
OBV=ta.OBV(close, volume)

In [121]:
df_tech['OBV']=OBV

In [122]:
AD=ta.AD(high, low, close, volume)

In [123]:
df_tech['AD']=AD

In [124]:
MAVOL5=ta.MA(volume,timeperiod=5)
MAVOL10=ta.MA(volume,timeperiod=10)

In [125]:
df_tech['MAVOL5']=MAVOL5
df_tech['MAVOL10']=MAVOL10

In [126]:
AMO6=ta.MA(amount,timeperiod=6)
AMO12=ta.MA(amount,timeperiod=12)
AMO24=ta.MA(amount,timeperiod=24)

In [127]:
df_tech['AMO6']=AMO6
df_tech['AMO12']=AMO12
df_tech['AMO24']=AMO24

### 5.均线型

In [128]:
MA10=ta.MA(close, timeperiod=10, matype=0)
MA120=ta.MA(close, timeperiod=120, matype=0)

In [129]:
df_tech['MA10']=MA10
df_tech['MA120']=MA120

In [130]:
EXPMA12=ta.EMA(close, timeperiod=12)
EXPMA50=ta.EMA(close, timeperiod=50)

In [131]:
df_tech['EXPMA12']=EXPMA12
df_tech['EXPMA50']=EXPMA50

In [132]:
upperband, middleband, lowerband = ta.BBANDS(close, timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)

In [133]:
df_tech['BBANDS_UP']=upperband
df_tech['BBANDS_MID']=middleband
df_tech['BBANDS_LOW']=lowerband

In [134]:
df_tech

,datetime,open,close,high,low,volume,amount,AR,BR,cr,...,AMO6,AMO12,AMO24,MA10,MA120,EXPMA12,EXPMA50,BBANDS_UP,BBANDS_MID,BBANDS_LOW
2846,2010-01-04,24.52,23.71,24.58,23.68,241922.76,5.802495e+05,NaN,NaN,137.360939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845,2010-01-05,23.75,23.30,23.90,22.75,556499.82,1.293477e+06,NaN,NaN,118.026125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2844,2010-01-06,23.25,22.90,23.25,22.72,412143.13,9.444537e+05,NaN,NaN,112.008161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2843,2010-01-07,22.90,22.65,23.05,22.40,355336.85,8.041663e+05,NaN,NaN,104.222159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2842,2010-01-08,22.50,22.60,22.75,22.35,288543.06,6.506674e+05,NaN,NaN,104.554569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2021-12-27,17.33,17.22,17.35,17.16,731118.99,1.260455e+06,101.705757,85.490196,446.296296,...,1.419731e+06,1.748550e+06,1.766664e+06,17.477,18.890333,17.554009,18.102242,18.647257,17.7735,16.899743
3,2021-12-28,17.22,17.17,17.33,17.09,1126638.91,1.934461e+06,99.360341,87.751004,449.484536,...,1.523969e+06,1.757749e+06,1.792401e+06,17.436,18.851667,17.494930,18.065683,18.661843,17.7600,16.858157
2,2021-12-29,17.16,16.75,17.16,16.70,1469373.98,2.480535e+06,93.644068,82.435130,307.216495,...,1.675243e+06,1.762143e+06,1.851248e+06,17.356,18.807417,17.380326,18.014088,18.718764,17.7155,16.712236
1,2021-12-30,16.76,16.82,16.95,16.72,796663.60,1.342374e+06,95.268817,88.381743,343.103448,...,1.615343e+06,1.587828e+06,1.856349e+06,17.266,18.757750,17.294122,17.967261,18.753032,17.6770,16.600968
0,2021-12-31,16.86,16.48,16.90,16.40,1750760.89,2.899617e+06,88.400000,88.400000,158.620690,...,1.793425e+06,1.640311e+06,1.939870e+06,17.157,18.707167,17.168872,17.908937,18.814565,17.6185,16.422435

In [135]:
outputpath='E:\香港大学\课程\project/技术指标.xlsx'
df_tech.to_excel(outputpath,index=False,header=True)